<div class="k-form-line">
	<input class="k-input" type="text" placeholder="<%-placeholder%>"> <button class="k-button" type="submit"><%-buttonText%></button>
</div>
<p class="k-form-help-text"><%-helpText%></p>
<span class="dotted" data-action="direction"><%-direction%></span>
