<h4>Небольшая ремарка о том, почему тестовое задание не выполнено полностью</h4>
<p>Тестовое задание не должно занимать более 3&ndash;4 часов времени (на Хабре много на эту тему написано), а по факту, если делать все качественно,
	с кешированием, лоадерами, обработкой ошибок, оптимизацией рендера, сортировки и прочих плюшек, уйдет времени не на один рабочий день.
	Я совместил это тестовое задание с некоторыми фиксами и правками
	для моего основного проекта на <span class="code">backbone/marionette</span>, а также использовал несколько уже готовых решений, например, как
	<span class="code">ChildrenRender</span>, <span class="code">Card.js</span> и т.д.,
	поэтому времени ушло не так много, а оно было проведено с пользой. Но больше времени тратить на тестовое задание не считаю целесообразным.
<p>Очень раздосадован, что не было предоставлено готового API, и пришлось выкручиваться, тратить ресурсы впустую.
	Создавать базу данных или настраивать и забивать данные в baas
	просто ради тестового задания front-end разработчика &mdash; нонсенс.
<p>Выбрал <span class="code">backbone</span> по причине, что на нем есть готовый проект в продакшене, а <span class="code">React</span> не был в списке.
<p>Задача про RTL показалась интересной, не думаю, что хоть кто-то из кандидатов имел с этим опыт. Надеюсь, это был тест на умение гуглить.
