
	<h1>Тест</h1>
	<nav class="k-navbar">
		<a class="k-link" href="#">Главная</a>
		<a class="k-link" href="#/users">Пользователи</a>
		<a class="k-link" href="#/users/cards">Карточки</a>
		<a class="k-link" href="#/users/table">Таблица</a>
		<a class="k-link k-link--red" href="#/users/groups">Комментарий</a>
	</nav>
